@inherits CanvasBase

@page "/"

<h1>Z Test</h1>
<p>Add values for Critical Value and Z Value in order to graphicaly display the result of the Test</p>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <EditForm Model="@canvasModel" OnValidSubmit="@PerfomTestAsync">
                <DataAnnotationsValidator/>
                <ValidationSummary/>
                <div class="form-row">
                    <div class="form-group col-6">
                        <label for="criticalValue">Critical Value</label>
                        <input type="text"  class="form-control" id="criticalValue" placeholder="Critical Value" @bind="canvasModel.CriticalValue"/>
                    </div>
                    <div class="form-group col-6">
                        <label for="zValue">Z Value</label>
                        <input type="text"  class="form-control" id="zValue" placeholder="Z Value" @bind="canvasModel.ZValue"/>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Perform Test" />
            </EditForm>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <BECanvas Width="@CanvasWidth" Height="@CanvasHeight" @ref="_canvasReference"></BECanvas>
        </div>
        <div class="col-2"></div>
    </div>
</div>
