@page "/counter"

@using GaussBell.Data
@inject CounterDao CounterDao;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn" @onclick="DecrementCount">Decrement</button>

@code {
    
    private int currentCount;

    protected override async Task OnInitializedAsync()
    {
        currentCount = CounterDao.GetCounterValue();
    }    

    private void IncrementCount()
    {
        currentCount++;
        CounterDao.SetCounterValue(currentCount);
    }

    private void DecrementCount()
    {
        if (currentCount > 0)
        {
            currentCount--;
            CounterDao.SetCounterValue(currentCount);
        }
    }
}
